/* Animasi garis di bawah menu */
.nav-link {
    position: relative;
    color: #000; /* Warna teks */
    transition: color 0.3s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; /* Jarak garis dari teks */
    width: 0;
    height: 2px;
    background-color: #007bff; /* Warna garis */
    transition: width 0.3s ease;
}

.nav-link:hover::after{
    width: 100%; /* Garis penuh saat hover atau aktif */
}

.nav-link:hover {
    color: #007bff; /* Warna teks saat hover */
}
